# .editorconfig
# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
# Did not want to be too long and too short
max_line_length = 98

[*.{yaml,yml}]
indent_size = 2

[{*.rb,*.rake,Rakefile,Gemfile}]
indent_size = 2

[*.md]
max_line_length = 80
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
