<header class="site-header">
  <div class="wrapper">
    <div class="masthead">
        <nav>
            <a class="nav-item title" href="/">{{ site.data.morazow.name }}</a>
            <a class="nav-item menu" href="/about/">about</a>
            <a class="nav-item menu" href="/archive/">archive</a>
            <div class="nav-item icons">
                <a target="_blank" href="https://twitter.com/{{ site.data.morazow.social.twitter }}"><i class="fa fa-twitter"></i></a>
                &middot;
                <a target="_blank" href="https://github.com/{{ site.data.morazow.social.github }}"><i class="fa fa-github-alt"></i></a>
                &middot;
                <a href="/feed.xml"><i class="fa fa-rss"></i></a>
            </div>
        </nav>
    </div>
  </div>
</header>
