<section id="masthead">
    <nav>
        <a class="title" href="/">{{ site.data.morazow.name }}</a>
        <a class="menu" href="/home.html">home</a>
        <a class="menu" href="/about.html">about</a>
        <a class="menu" href="/archive.html">archive</a>
        <div class="icons">
            <a href="https://twitter.com/{{ site.data.morazow.social.twitter }}"><i class="fa fa-twitter"></i></a>
            &middot;
            <a href="https://github.com/{{ site.data.morazow.social.github }}"><i class="fa fa-github-alt"></i></a>
            &middot;
            <a href="/atom.xml"><i class="fa fa-rss"></i></a>
        </div>
    </nav>
</section>
