//
// Variables
//

$root-font-family: "Fira Sans", Helvetica, Arial, sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;

$large-breakpoint: 38em;
$large-font-size: 18px;

$body-color: #222222;
$body-bg: #fff;

$link-color: #113F8C;
$hover-color: #00A1CB;

$code-font-family: Inconsolata, Menlo, Monaco, "Courier New", monospace;
$code-color: #bf616a;
